OZON_STYLINT_CLIENT_ID=443362
OZON_STYLINT_API_KEY=your_api_key_here
OZON_RS_CLIENT_ID=3201725
OZON_RS_API_KEY=your_api_key_here

PERFORMANCE_STYLINT_CLIENT_ID=your_stylint_performance_client_id
PERFORMANCE_STYLINT_CLIENT_SECRET=your_stylint_performance_client_secret
PERFORMANCE_RS_CLIENT_ID=your_rs_performance_client_id
PERFORMANCE_RS_CLIENT_SECRET=your_rs_performance_client_secret

DATABASE_URL=sqlite:///dashboard.db
